# Python
__pycache__/
*.py[cod]
*.so
*.pyd

# Virtual environments
venv/
ENV/
.env/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/

# Logs
*.log

# Editor
.vscode/
.idea/

# Data (IMPORTANT)
weights/
runs/
data/
models/